<% include userHeader %>
<% include navbar %>

<script>
	
</script>

<div class="center2">
  <div class="elem">
	<div id="userInfo">
		<table>
			<tr>
				<td><img src="<%= profilePic %>" width="120" height="120" /></td>
				<td><%= origTweet.name %><br><a href = "/<%= origTweet.username %>/profile"> @<%= origTweet.username %></td>
					<% if (loggedInUser !== username) { %>
						<td id='button'> <% if (isFollowing) { %>
								<button class="unfollow" id="<%=username%>"> Unfollow </button>
						<% } else { %>
							<button class="follow" id="<%=username%>"> Follow </button>
						<% } %> </td>
					<% } %>
			</tr>
		</table>
	</div>
	
	<p>
		<b><%= origTweet.name %></b> <a href="/<%= origTweet.username %>/profile"> @<%= origTweet.username %></a><br>
		<% var msg = origTweet.msg %><% msg = msg.split(" ") %>
		<% for (var j=0; j < msg.length; j++) { %>
			<% if (msg[j].charAt(0) === "@" && msg[j].split("\@").length === 2) { var word = msg[j].substring(1); %>
				<a href="/<%= word %>/profile"> <%= msg[j] %></a> 
			<% } else if (msg[j].charAt(0) === "#" && msg[j].split("\#").length === 2) { var word = msg[j].substring(1); %>
				<a href="/searchT/<%= word %>"> <%= msg[j] %></a> 
			<% } else { %>
				<%= msg[j] %>
			<% } %>
		<% } %>
		<br>
		<%= origTweet.date %><br>
	</p>
	
	<div id="composeTweetBox">
		<form method="post" id="compose" action="/<%= origTweet.id %>/detailedTweetReply">
			<textarea name="message" cols="60" rows="4">reply to @<%= username %></textarea>
			<br>
			<input type="submit" name="submit" value="Reply" />
		</form>
	</div>
  </div>
	
	<div id="tweetListContainer" class="elem">
		<div id="tweetList">
			<% for (var i=0; i < convo.length; i++) { %>
				<div class="tweet" id = "t<%= convo[i].id %>" >
						<b><%= convo[i].name %></b> <a href="/<%= convo[i].username %>/profile"> @<%= convo[i].username %></a>
						<div class="tmsg">
							<% var msg = convo[i].msg %><% msg = msg.split(" ") %>
							<% for (var j=0; j < msg.length; j++) { %>
								<% if (msg[j].charAt(0) === "@" && msg[j].split("\@").length === 2) { var word = msg[j].substring(1); %>
									<a href="/<%= word %>/profile"> <%= msg[j] %></a> 
								<% } else if (msg[j].charAt(0) === "#" && msg[j].split("\#").length === 2) { var word = msg[j].substring(1); %>
									<a href="/searchT/<%= word %>"> <%= msg[j] %></a> 
								<% } else { %>
									<%= msg[j] %>
								<% } %>
							<% } %>
						</div>
						<%= convo[i].date %><br>
						<a href="/<%= convo[i].id %>/detailedTweet">Detail</a> | <a href="/<%= convo[i].id %>/simpleReply">Reply</a> | <a href="/">Retweet</a>
						<% if (loggedInUser === convo[i].username) { %>
							 | <a class="delT" id="<%= convo[i].id %>" href=>Delete</a>
						<% } %>
				</div>
			<% } %>
		</div>
	</div>
</div>

<script src="/javascripts/tweet.js"> </script>
<script>
	newTweetConvo();
	delTweet();
</script>

<script src='/javascripts/follow.js'></script>
<script>
	onUnfollow();
	onFollow();	
</script>

<script>
	$('.reply').bind('click',
    function (event) {
		var id = $(this).attr("id");
		$(".replybox#"+id).show();
		$(".replybox#"+id+" textarea").text("reply to @"+id);
    });
</script>

<% include footer %>
