<% include userHeader %>
<% include navbar %>
<div class="center2">
	<div id="userInfo">
		<table>
			<tr>
				<td><img src="/images/defaultProfilePic.jpg" width="120" height="120" /></td>
				<td><%= origTweet.name %><br><a href = "/<%= origTweet.username %>/profile"> @<%= origTweet.username %></td>
			</tr>
		</table>
	</div>
	
	<p>
		<b><%= origTweet.name %></b> <a href="/<%= origTweet.username %>/profile"> @<%= origTweet.username %></a><br>
		<%= origTweet.msg %><br>
		<%= origTweet.date %>
	</p>
	
	<div id="composeTweetBox">
		<form method="post" id="compose" action="/<%= origTweet.id %>/detailedTweetReply">
			<textarea name="message" cols="60" rows="4">reply to @<%= username %></textarea>
			<br>
			<input type="submit" name="submit" value="Reply" />
		</form>
	</div>
	
	<div id="tweetListContainer">
		<!--<%- convo %>-->
		<% for (var i=1; i < convo.length; i++) { %>
			<p>
				<b><%= convo[i].name %></b> <a href="/<%= convo[i].username %>/profile"> @<%= convo[i].username %></a><br>
				<%= convo[i].msg %><br>
				<%= convo[i].date %><br>
				<a href="/<%= convo[i].id %>/detailedTweet">Detail</a>
			</p>
		<% } %>		
	</div>
</div>

<% include footer %>
