<% include userHeader %>
<% include navbar %>
<div class="center2">
	<div id="userInfo">
		<table>
			<tr>
				<td><img src="/images/defaultProfilePic.jpg" width="120" height="120" /></td>
				<td><%= name %><br><a href = "/<%= username %>/profile"> @<%= username %></td>
			</tr>
		</table>
	</div>
	
	<%- origTweet %>
	
	<div id="composeTweetBox">
		<form method="post" id="compose" action="/<%= username %>/newtweet">
			<textarea name="message" cols="60" rows="4">reply to @username</textarea>
			<br>
			<input type="submit" name="submit" value="Tweet!" />
		</form>
	</div>
	<div id="tweetListContainer">
		<%- convo %>
	</div>
</div>

<% include footer %>
