<% include userHeader %>
<% include navbar %>
<div class="center">
	<h1 class="elem">Settings:</h1>
	<hr/>
	<div id="formSettings" class="elem">
	    <p>
		  <font color="red"><%- msg %></font>
    	</p>
		<form method="post" id="editSettings" action="/<%= loggedInUser %>/changeSettings">
			<b>Profile Visibility:</b> <font color="gray"> <%- pv %> </font> <br>
			<p>
				<input type="radio" name="profVis" value="Public" /> Public <br>
				<input type="radio" name="profVis" value="Followers Only" /> Followers Only <br>
				<input type="radio" name="profVis" value="Only Me" /> Only Me <br>
			</p>
			<b>Mention Permission:</b> <font color="gray"> <%- mp %> </font> <br>
			<p>
				<input type="radio" name="mentionPerm" value="Public" /> Public <br>
				<input type="radio" name="mentionPerm" value="Followers Only" /> Followers Only <br>
				<input type="radio" name="mentionPerm" value="Only Me" /> Only Me <br>
			</p>
			<b>Private Messaging Permission:</b> <font color="gray"> <%- pm %> </font> <br>
			<p>
				<input type="radio" name="pmPerm" value="Public" /> Public <br>
				<input type="radio" name="pmPerm" value="Followers Only" /> Followers Only <br>
				<input type="radio" name="pmPerm" value="None" /> None <br>
			</p>
			<input type="submit" name="submit" value="Submit" /> <br>
		</form>
	</div>
	<br>
</div>
<% include footer %>
