
<% include userHeader %>
<% include navbar %>
<div class="center">
	<div id="leftContainer">
		<div id="viewFOption" class="elem">
			<p>
				<a href="follower"><font color="gray"><b>Follower</b></font></a><br>
				<font color="gray">------------------------------</font><br>
				<font color="black"><b>Following</b></font><br>
			</p>
		</div>	
		<div id="trendHashtags" class="elem">
			<p>THIS IS trending hash tags</p>
		</div>
	</div>
	
	<div id="rightContainer">		
		<div id="userListContainer" class="elem">
			<h2><%= name %> is Following:</h2>
			<ul>
				<% if (loggedInUser === username) { %>
					<script>console.log("my following");</script>
					<% for (var i=0; i < following.length; i++) { %>
					<li id="<%= following[i].username %>"><%= following[i].name %> <a href = "/<%= following[i].username %>/profile">@<%= following[i].username %></a>
						<button class="unfollow" id="<%= following[i].username %>"> Unfollow </button></li>
					<% } %>
				<% } else { %>
					<% for (var i=0; i < following.length; i++) { %>
					<li id="<%= following[i].username %>"><%= following[i].name %> <a href = "/<%= following[i].username %>/profile">@<%= following[i].username %></a></li>
					<% } %>
				<% } %>
				
			</ul>
		</div>
	</div>

</div>

<script>
	$('.unfollow').bind('click',
    function (event) {
		var username = $(this).attr("id");
		unfollow(username);	
		return false;
    });

    var unfollow = function (username) {
    	$.ajax({
			type: 'POST',
			url: '/unfollow',
			data: {rmusername: username},
			success: function(pair) {
				$('li#'+pair[0]).remove();
			}
			});
    }
</script>

<% include footer %>