
<% include userHeader %>
<% include navbar %>
<div class="center">
	<div id="leftContainer">
		<div id="viewFOption" class="elem">
			<p>
				<font color="black">Follower</b></font></a><br>
				<font color="gray">------------------------------</font><br>
				<a href="following"><font color="gray"><b>Following</b></font></a><br>
			</p>
		</div>	
		<div id="trendHashtags" class="elem">
			<p><b>Trending Hashtags:</b></p>
			<ul>
			<% for (var i=0; i < ht.length; i++) { %>
				<li> <a href="/searchT/<%= ht[i].substring(1) %>"> <%= ht[i] %> </a></li>
			<% } %>
			</ul>
		</div>
	</div>
	
	<div id="rightContainer">		
		<div id="userListContainer" class="elem">
			<h2><%= name %>'s Followers:</h2>
			<!-- followers is followers list coming from index.js -->
			<ul id='userList'>
				<% for (var i=0; i < followers.length; i++) { %>
					<li id="<%= followers[i].username %>"><%= followers[i].name %> <a href = "/<%= followers[i].username %>/profile">@<%= followers[i].username %></a>
						
					</li>
				<% } %>
			</ul>
		</div>
	</div>

</div>


<% include footer %>