<% include userHeader %>
<% include navbar %>
<div class="center">
	<center>
		<h1>ATTN: <a href="../326Project3NewFeature_Sunapee.pdf">NEW FEATURE</a> coming up!!!</h1>
	</center>
	<div id="leftContainer">
		<div id="userStats">
			<table>
				<tr height="175px">
					<th><img src="/images/defaultProfilePic.jpg" width="120" height="120" /></th>
					<th><%= name %><br><a href = "/<%= username %>/profile"> @<%= username %></th>
					<!--<th><img src="/images/defaultProfilePic.jpg" width="100" height="30" /></th>-->
				</tr>
				<tr>
					<th><a href="/<%= username %>/profile">Tweets: <%= tweetN %></a></th>
					<th><a href="follower">Follower: <%= followerN %></a></th>
					<th><a href="following">Following: <%= followingN %></a></th>
				</tr>
			</table>
		</div>	
		<div id="trendHashtags">
			<p>THIS IS trending hash tags</p>
		</div>
	</div>
	
	<div id="rightContainer">
		<div id="composeTweetBox">
			<form method="post" id="compose" action="/<%= username %>/newtweet">
				<textarea name="message" cols="50" rows="4">What's on your mind?</textarea>
				<br>
				<input type="submit" name="submit" value="Tweet!" />
			</form>
		</div>
		
		<div id="tweetListContainer">
			<h2>Timeline:</h2>
			<!-- tweets %>-->
			<% for (var i=0; i < tweets.length; i++) { %>
			<p>
				<b><%= tweets[i].name %></b> <a href="/<%= tweets[i].username %>/profile"> @<%= tweets[i].username %></a><br>
				<%= tweets[i].msg %><br>
				<%= tweets[i].date %><br>
				<a href="/<%= tweets[i].id %>/detailedTweet">Detail</a> <a href="/<%= tweets[i].id %>/simpleReply">Reply</a>
			</p>
		<% } %>
			
		</div>
	</div>
</div>

<% include footer %>
