<% include userHeader %>
<% include navbar %>
<div class="center">
	<div id="leftContainer">
		<div id="userStats">
			<table>
				<tr height="175px">
					<th><img src="/images/defaultProfilePic.jpg" width="120" height="120" /></th>
					<th><%= name %><br><a href = "/<%= username %>/profile"> @<%= username %></th>
					<!--<th><img src="/images/defaultProfilePic.jpg" width="100" height="30" /></th>-->
				</tr>
				<tr>
					<th><a href="/<%= username %>/profile">Tweets: <%= tweetN %></a></th>
					<th><a href="follower">Follower: <%= followerN %></a></th>
					<th><a href="following">Following: <%= followingN %></a></th>
				</tr>
			</table>
		</div>	
		<div id="trendHashtags">
			<p>THIS IS trending hash tags</p>
		</div>
	</div>
	
	<div id="rightContainer">
		<div id="composeTweetBox">
			<form method="post" id="compose">
				<textarea name="message" cols="50" rows="4">What's on your mind?</textarea>
				<br>
				<input type="submit" id="newtweetSubmit" name="submit" value="Tweet!" />
			</form>
		</div>
		
		<div id="tweetListContainer">
			<h2>Timeline:</h2>
			<div id="tweetList">
				<!-- tweets %>-->
				<% for (var i=0; i < tweets.length; i++) { %>
					<div id = "newtweet" >
						<b><%= tweets[i].name %></b> <a href="/<%= tweets[i].username %>/profile"> @<%= tweets[i].username %></a>
						<div class="tmsg">
							<% var msg = tweets[i].msg %><% msg = msg.split(" ") %>
							<% for (var j=0; j < msg.length; j++) { %>
								<% if (msg[j].charAt(0) === "@" && msg[j].split("\@").length === 2) { var word = msg[j].substring(1); %>
									<a href="/<%= word %>/profile"> <%= msg[j] %> </a>
								<% } else if (msg[j].charAt(0) === "#" && msg[j].split("\#").length === 2) { var word = msg[j].substring(1); %>
									<a href="/searchT/<%= word %>"> <%= msg[j] %> </a>
								<% } else { %>
									<%= msg[j] %>
								<% } %>
							<% } %>
						</div>
						<%= tweets[i].date %><br>
						<a href="/<%= tweets[i].id %>/detailedTweet">Detail</a> <a href="/<%= tweets[i].id %>/simpleReply">Reply</a>
					</div>
				<% } %>
			</div>
		</div>
		
		<div id="output"></div>
	</div>
</div>

<script type="text/javascript"> 
	//var tohtml : "/javascript/tohtml.js";
	console.log("in script");
	var postNewTweet = function (tweetMsg) {
		console.log("calling ajax");
		$.ajax({
			type: 'POST',
			url: '/newtweet',
			data: 'msg=' + tweetMsg,
			success: function(tl) {
				//console.log("success: tweet "+tl[1].username);
				console.log(tl[0].date);
				$('#tweetList').prepend(tweetsToHtml(tl));
				$('#output').append(tl[0].date);
			}
			}).done(function(msg) {
				console.log("ejs msg ",msg);
			});
		console.log("finish ajax");
	};
	
	console.log("bind");

	$('#newtweetSubmit').bind('click',
    function (event) {
    	//var tohtml = require('/javascripts/tohtml.js');//////////????
		// Get tweet message
		var data = $('textarea').val();  
		console.log("text ",data);
		postNewTweet(data);
	  	//$('#tweetList').prepend(msgToHtml(data));
		// Reset input field:
		$('textarea').val("What\'s on your mind?");
	  
		//display tweet here
		//var tweet = message;
		
		//$('#output').html('tweet');
		
		return false;
    });
    console.log("first script done");
</script>

<% include footer %>
