
<% include userHeader %>
<% include navbar %>
<div class="center">
	<div id="leftContainer">
		<div id="viewFOption" class="elem">
			<p>
				<font color="black">Follower</b></font></a><br>
				<font color="gray">------------------------------</font><br>
				<a href="following"><font color="gray"><b>Following</b></font></a><br>
			</p>
		</div>	
		<div id="trendHashtags" class="elem">
			<p>THIS IS trending hash tags</p>
		</div>
	</div>
	
	<div id="rightContainer">		
		<div id="userListContainer" class="elem">
			<h2><%= name %>'s Followers:</h2>
			<!-- followers is followers list coming from index.js -->
			<ul>
				<% for (var i=0; i < followers.length; i++) { %>
					<li id="<%= followers[i].username %>"><%= followers[i].name %> <a href = "/<%= followers[i].username %>/profile">@<%= followers[i].username %></a> <button class="delFollower" id="<%= followers[i].username %>"> Delete </button></li>
				<% } %>
			</ul>
		</div>
	</div>

</div>

<script src='/javascripts/follow.js'></script>
<script>
	$('.delFollower').bind('click',
    function (event) {
		var bid = $(this).attr("id");
		console.log("listener");
		delFollower(bid);	
		return false;
    });
</script>

<% include footer %>