<% include userHeader %>
<% include navbar %>
<div class="center">
	<div id="leftContainer">
			
		<div id="trendHashtags">
			<p>THIS IS trending hash tags</p>
		</div>
	</div>
	
	<div id="rightContainer">
		<div id="userStats">
			<table>
				<tr height="175px">
					<th vertical-align="middle" text-align="left"><img src="<%= profilepic %>" width="120" height="120" /></th>
					<th vertical-align="middle" text-align="left"><%= name %><br><a href = "/<%= username %>/profile"> @<%= username %></th>
					<% if (loggedInUser !== username) { %>
						<th id='button'> <% if (isFollowing) { %>
								<button class="unfollow" id="<%=username%>"> Unfollow </button>
						<% } else { %>
							<button class="follow" id="<%=username%>"> Follow </button>
						<% } %> </th>
					<% } %>
					<!--<th><img src="/images/defaultProfilePic.jpg" width="100" height="30" /></th>-->
				</tr>
				<tr>
					<th><a href="/<%= username %>/profile">Tweets: <%= tweetN %></a></th>
					<th><a href="follower" id="followerN">Follower: <%= followerN %></a></th>
					<th><a href="following">Following: <%= followingN %></a></th>
				</tr>
			</table>
		</div>

		<div id="tweetListContainer">
			<!-- tweets %>-->
			<% for (var i=0; i < tweets.length; i++) { %>
				<div id = "newtweet" >
					<b><%= tweets[i].name %></b> <a href="/<%= tweets[i].username %>/profile"> @<%= tweets[i].username %></a>
					<div class="tmsg">
						<% var msg = tweets[i].msg %><% msg = msg.split(" ") %>
						<% for (var j=0; j < msg.length; j++) { %>
							<% if (msg[j].charAt(0) === "@" && msg[j].split("\@").length === 2) { var word = msg[j].substring(1); %>
								<a href="/<%= word %>/profile"> <%= msg[j] %> </a>
							<% } else if (msg[j].charAt(0) === "#" && msg[j].split("\#").length === 2) { var word = msg[j].substring(1); %>
								<a href="/searchT/<%= word %>"> <%= msg[j] %> </a>
							<% } else { %>
								<%= msg[j] %>
							<% } %>
						<% } %>
					</div>
					<%= tweets[i].date %><br>
					<a href="/<%= tweets[i].id %>/detailedTweet">Detail</a> <a href="/<%= tweets[i].id %>/simpleReply">Reply</a>
				</div>
			<% } %>
		</div>
</div>

<script src='/javascripts/follow.js'></script>
<script>
	onUnfollow();
	onFollow();
</script>

<% include footer %>