<% include userHeader %>
<% include navbar %>
<div class="center">
	<div id="leftContainer">
			
		<div id="trendHashtags">
			<p>THIS IS trending hash tags</p>
		</div>
	</div>
	
	<div id="rightContainer">
		<div id="userStats">
			<table>
				<tr height="175px">
					<th vertical-align="middle" text-align="left"><img src="/images/defaultProfilePic.jpg" width="120" height="120" /></th>
					<th vertical-align="middle" text-align="left"><%= name %><br><a href = "/<%= username %>/profile"> @<%= username %></th>
					<!--<th><img src="/images/defaultProfilePic.jpg" width="100" height="30" /></th>-->
				</tr>
				<tr>
					<th><a href="following">Tweets: <%= followingN %></a></th>
					<th><a href="follower">Follower: <%= followerN %></a></th>
					<th><a href="following">Following: <%= followingN %></a></th>
				</tr>
			</table>
		</div>
		<div id="tweetListContainer">
			<%- tweets %>
		</div>
	</div>

</div>
<% include simpleheader %>

<% include navbar %>

<h1><%= title %></h1>
<h2><%= name %> <a href = "/<%= username %>/profile"> @<%= username %> </a></h2>
<p><a href="follower">Follower: <%= followerN %> </a></p>
<p><a href="following">Following: <%= followingN %> </a> </p>


<h3><%= name %>'s Tweets</h3>
<%- tweets %>

<% include footer %>