<% include userHeader %>
<% include navbar %>
<div class="center">
	<div id="leftContainer">
		<div id="searchResultCategory" class="elem">
			<p>
				<b>Tweets</b><br>
				<font color="#45c7b1">--------------</font><br>
				<a href="/searchP/<%= searchPhrase %>">People</a><br>
			</p>
		</div>	
		<div id="trendHashtags" class="elem">
			<p><b>Trending Hashtags:</b></p>
			<ul>
			<% for (var i=0; i < ht.length; i++) { %>
				<li> <a href="/searchT/<%= ht[i].substring(1) %>"> <%= ht[i] %> </a></li>
			<% } %>
			</ul>
		</div>
	</div>
	
	<div id="rightContainer">		
		<div id="searchResults" class="elem">
			<h3>Results for <font color="red"><%= searchPhrase %></font> :</h3>
			<% if (tweets.length > 0) { %>
				<% for (var i=0; i < tweets.length; i++) { %>
					<div class="tweet" id = "t<%= tweets[i].id %>" >
					<b><%= tweets[i].name %></b> <a href="/<%= tweets[i].username %>/profile"> @<%= tweets[i].username %></a>
					<div class="tmsg">
						<% var msg = tweets[i].msg %><% msg = msg.split(" ") %>
						<% for (var j=0; j < msg.length; j++) { %>
							<% if (msg[j].charAt(0) === "@" && msg[j].split("\@").length === 2) { var word = msg[j].substring(1); %>
								<a href="/<%= word %>/profile"> <%= msg[j] %></a> 
							<% } else if (msg[j].charAt(0) === "#" && msg[j].split("\#").length === 2) { var word = msg[j].substring(1); %>
								<a href="/searchT/<%= word %>"> <%= msg[j] %></a> 
							<% } else { %>
								<%= msg[j] %>
							<% } %>
						<% } %>
					</div>
					<%= tweets[i].date %><br>
					<a href="/<%= tweets[i].id %>/detailedTweet">Detail</a> | <a href="/<%= tweets[i].id %>/simpleReply">Reply</a> | <a href="/">Retweet</a>
					<% if (loggedInUser === tweets[i].username) { %>
						 | <a class="delT" id="<%= tweets[i].id %>" href=>Delete</a>
					<% } %>
				</div>
				<% } %>
			<% } else { %>
				<p> No results found. </p>
			<% } %>
		</div>
	</div>
</div>

<script src="/javascripts/tweet.js"> </script>
<script>
	newTweet();
	delTweet();
</script>

<% include footer %>